/* 移除默认的 margin 和 padding */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* 全局样式 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  padding-top: 60px; /* 导航栏高度 */
}

.card {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* 圆角 */
  background: #fff; /* 卡片背景色 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}